.navbar-info-top{
  background-color: #0070B5;
    a{
      color: #ffffff;
    }
    .icon-bar{
      background-color:#ffffff;
    }
  }

section{
  .title-description{
      text-align: center;
      h1{
        font-family: 'Raleway', sans-serif;
        margin-top: 40px;
        margin-right: 110px;
        margin-bottom: 40px;
      }
      img{
        width: 70%;
      }
  }
}

.about{
    margin-top: 50px;
  .box-about{
    .title-content{
      position: relative;
      padding: 10px 10px 10px 55px;
      margin-bottom: 7px;
      p{
        font-family: 'Lato', sans-serif;
        font-size: 15px;
      }
    }
    .box-icon-about
     {
        position: absolute;
        left: 0;
        font-size: 36px;
        top: 12px;
    }
      img{
      width: 40px;
    }
  }
}
