.navbar-info-top{
  background-color: #0070B5;
    a{
      color: #ffffff;
    }
    .icon-bar{
      background-color:#ffffff;
    }
  }

section{
  .title-description{
      text-align: center;
      h1{
        font-family: 'Lato', sans-serif;
        margin-right: 100px;
        margin-bottom: 20px;
      }
  }
}
